@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #3525CD;
  --secondary: #A93349;
  --tertiary: #005059;
  --neutral: #1B1C1C;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: var(--neutral);
}