.home {
  min-height: 100vh;
}

/* HERO */
.hero {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("https://dynamic-media-cdn.tripadvisor.com/media/photo-o/12/12/20/94/photo1jpg.jpg?w=900&h=500&s=1");
  background-size: cover;
  background-position: center;
  padding: 120px 32px;
  text-align: center;
  color: white;
}

.hero-content {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-content h1 {
  font-size: 2.8rem;
  font-weight: 700;
}

.hero-content p {
  font-size: 1rem;
  opacity: 0.9;
}

.hero-search {
  display: flex;
  gap: 8px;
  background: white;
  border-radius: 8px;
  padding: 8px;
  margin-top: 16px;
}

.hero-search input {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 0.9rem;
  color: var(--neutral);
}

.hero-search button {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 10px 24px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* CATEGORIAS */
.categories {
  padding: 48px 32px;
  text-align: center;
  background-color: #fafafa;
}

.categories h2 {
  font-size: 1.6rem;
  margin-bottom: 32px;
  color: var(--neutral);
}

.categories-grid {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;

  color: black;
}

.category-icon {
  font-size: 2rem;
  background-color: #eee;
  padding: 16px;
  border-radius: 50%;
}

/* CAJAS */
.boxes-section {
  padding: 48px 32px;
}

.boxes-section h2 {
  font-size: 1.6rem;
  margin-bottom: 32px;
  color: var(--neutral);
}

.boxes-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
